.Block {
    /* height: 200px;
    width: 200px; */
    /* background-color: red; */
    min-height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px;
    margin-right: 0px;
    text-align: center;
    align-items: center;
    vertical-align: text-bottom;
    transition: all 1s ease-in-out;
}

.shad:hover
{
    box-shadow: 0px 0px 10px grey;
}

/* @media (max-width: 1200px) {
    .Block {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 900px) {
    .Block {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 700px) {
    .Block {
        height: 80px;
        width: 80px;
    }
} */

.valueHeader
{
    padding-top: 10%;
    color: white;
}